<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}" class="html" data-theme="{{ site.theme_config.appearance | default: "auto" }}">
        {%- include head.html -%}
  <body>
    <main class="page-content" aria-label="Content">
      <div class="w">
        {{ content }}
        <div class="credits">
          &copy;&nbsp;{{ "now" | date: "%Y" }}&nbsp;{{site.author}}
          &nbsp;
          •
          &nbsp;
          Theme&nbsp; <a href="https://github.com/abhinavs/moonwalk" target="_blank" rel="noreferrer">Moonwalk</a>
        </div>
      </div>
    </main>

  </body>
</html>
