---
layout: default
---

<header>
  <h1>{{ site.title }}</h1>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
{% endif %}
  </header>

{{ content }}

{% if site.theme_config.show_footer == true %}
  <footer>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
