@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html { height: 100%; }

body {
  font-family:  "Inter", -apple-system, "avenir next", avenir, roboto, noto, ubuntu, "helvetica neue", helvetica, sans-serif;
  font-size: 1.0rem;
  line-height: 2;
  margin: 0;
  min-height: 100%;
}
pre, code {
  font-family: "Anonymous Pro", "Courier New", monospace;
  font-size: 0.9rem;
}

h2, h3, h4, h5 { margin-top: 1.5em; }

hr { margin: 1em 0; }

hr.page-break {
  text-align: center;
  border: 0;

  &:before { content: '-----' }
  &:after { content: attr(data-content) '-----' }
}

p { margin: 1em 0; }

li { margin: 0.4em 0; }

.w {
  max-width: 720px;
  margin: 0 auto;
  padding: 4em 2em;
}

table, th, td {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4em;
}

div.highlighter-rouge pre code, pre code.highlighter-rouge {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1em;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
html, body  {
      --headings: #EEE;
      --links: white;
      --highlight: #41C7C7;
      --bg: #282433;
      --bg-secondary: #512573;
      --text: white;
      --code-text: #91A7FF;
      --share-text: #C4C4C4;
};

html, body {
    display: flex-center;
    background-color: var(--bg);
    color: var(--text);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--headings);
}
p, strong, b, em, small, li, hr, table, figcaption {
    color: var(--text);
}
.highlight, pre code, blockquote {
  border-radius: 0.5em;
}
blockquote {
  background-color: var(--bg-secondary);
  border: 1px var(--border) solid;
}
a {
  color: var(--links);
}
*:target { background-color: var(--bg-secondary); }

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 250ms !important;
    transition-delay: 0 !important;
}

.theme-toggle {
  color: var(--text);
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
  margin: 1em;
  position: fixed;
  right: 0;
  top: 0;
  border: 2px transparent solid;
  outline: none;
}

.theme-toggle:hover {
  color: var(--links);
  outline: none;
}
.theme-toggle:focus {
  outline: none;
}
.dashed {
  border-top: 1px var(--text) dashed;
  margin: 0.5em 0;
}
mark {
  padding: 0.4em;
  background-color: var(--highlight);
  font-size: 0.6em;
  letter-spacing: 1px;
}

.post-date {
  color: var(--secondary-text);
  //margin-bottom: 1rem;
  font-size: 0.8em;
}
.home-date {
  font-family: monospace;
}
.post-list-item a {
  text-decoration: none;
}
.text-bold {
  font-weight: bold;
}
.text-upcase {
  text-transform: uppercase;
}
p code, li code {
  background-color: var(--bg-secondary);
  padding: 0.2rem;
  color: var(--code-text);
  font-weight: bold;
}
.post-title {
  margin-bottom:-1.5rem;
}
.project-title {
  margin-bottom: 0.8rem;
}
.credits {
  position: absolute;
  bottom: 10px;
  font-size: 0.8em;

  a {
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: var(--links);
  }
}
